*{ 
padding:0;
margin:0;
}


a{
	text-decoration:none;
	
}

#main{
width:1200px;
height:1800px;
margin:0 auto;
margin-top:120px;
}



#center{
float:left;
height:1600px;
width:1200px;
background:#ffffff;
position:absolute;


}
#c_top{
color:#0079BC;
text-align:center;
position:relative;
padding-top:40px;
font-size:30px;
width:100%;
height:100px;
box-shadow:3px 2px 3px -1px #d3d3d3;
border-bottom:3px solid #a0a0a0;
}
#c_top_1{
color:#0079BC;
position:relative;


font-size:20px;
width:100%;
height:50px;
box-shadow:3px 2px 3px -1px #d3d3d3;
}
#c_top_item{
width:400px;
text-align:center;
box-shadow:3px 2px 3px -1px #d3d3d3;
padding-top:10px;
height:40px;
float:left;
}
#c_top_qty{
float:left;
width:100px;
text-align:center;
box-shadow:3px 2px 3px -1px #d3d3d3;
padding-top:10px;
height:40px;
}
#c_top_prc{
float:left;
width:200px;
text-align:center;
box-shadow:3px 2px 3px -1px #d3d3d3;
padding-top:10px;
height:40px;
}
#c_top_other{
float:left;
width:300px;
text-align:center;
box-shadow:3px 2px 3px -1px #d3d3d3;
padding-top:10px;
height:40px;
}
#c_content{
width:100%;
display:inline-block;
font-size:20px;
height:220px;
box-shadow:3px 2px 3px -1px #d3d3d3;
}


#head{
cursor:pointer;
color:#0079BC;
text-decoration:underline;
}

#rating{
width:100%;
color:#FF8000;
font-size:14px;
}
#addr{
font-size:14px;


}
#c_1{
overflow:none;

}
#c1_img{
float:left;

margin:20px;
height:150px;
width:120px;
border:1px solid #d3d3d3;
cursor:pointer;


}
#c1_data{
float:left;
margin-left:10px;
margin-top:20px;
height:200px;
width:210px;
color:#000000;


}
#c1_qty{
float:left;
margin-left:10px;
margin-top:20px;
height:200px;
width:90px;
color:#000000;


}
#c1_dlv{
float:left;
margin-left:10px;
margin-top:20px;
height:200px;
width:290px;
color:#000000;


}
#c1_price{
float:left;
margin-left:10px;
margin-top:20px;
height:200px;
width:190px;
color:#000000;


}
#c1_ttl{
float:left;
margin-left:10px;
margin-top:20px;
height:200px;
width:90px;
color:#000000;
position:relative;

}
#s_data_1{

background-color:#0079BC;
height:34px;
border:0;
color:#ffffFF;
width:120px;
text-align:center;
font-size:14px;
border-radius:20px;
cursor:pointer;
position:absolute;
bottom:1;
margin-left:30px;

}


#s_data_1:hover{

border:2px solid #0079BC;
opacity:0.9;
background-color:#ffffff;
color:#0079BC;
}
#address_button:hover{

border:2px solid #0079BC;
opacity:0.9;
background-color:#ffffff;
color:#0079BC;
}

#address_button{
margin-top:10px;
background-color:#0079BC;
height:40px;
border:0;
color:#ffffFF;
width:250px;
text-align:center;

border-radius:20px;
cursor:pointer;
font-size:14px;


}
#content_bottom{
float:right;

}



