#footer{
position:relative;
height:350px;
width:95%;
color:#ffffff;
background:#000000;
opacity:0.8;
bottom:0;
padding:5% 0 0 5%;

}
#footer_top{

width:100%;

}

#head{
font-size:18px;
text-decoration:underline;


}
#footer_tab{
float:left;
height:70%;
width:17%;
margin-left:5%;
background-image:url('../images/circular-logo.png');
background-repeat:no-repeat;
}
#footer_center{
float:left;
height:70%;
width:15%;
margin-left:5%;

}
#footer_center_1{
float:left;
height:70%;
width:15%;

margin-left:10%;

}

#footer_bottom{
position:absolute;
bottom:0;


}