*{ 
padding:0;
margin:0;
}
body{
background-color:#F4EFFF;

color:#808080;
}
a{
	text-decoration:none;
	color:#000000;
	
}
#main_content
{
	width:1050px;
margin-top:100px;
background-color:#ffffff;
margin-left:150px;
display:inline-block;
}
#left_tab{


margin:auto;
padding:5px;
width:1050px;
height:600px;

}

#left{
float:left;
width:600px;

}
#inner_left{

height:400px;


}

#s_data{



background-color:#FF8000;
height:20px;
margin-top:5px;
margin-right:5px;
border:0;
color:#ffffFF;
float:right;
height:30px;
width:150px;
text-align:center;
font-size:14px;
border-radius:2px;

}
#s_data_1{



margin-right:5px;
background-color:#0079BC;
height:20px;
margin-top:5px;
border:0;
color:#ffffFF;
float:right;
height:30px;
width:150px;
text-align:center;
font-size:14px;
border-radius:2px;



}

#s_data:hover{

border:2px solid #FF8000;
opacity:0.9;
background-color:#ffffff;
color:#FF8000;

}
#s_data_1:hover{

border:2px solid #0079BC;
opacity:0.9;
background-color:#ffffff;
color:#0079BC;
}

#inner_left_bottom{
margin-top:10px;
height:150px;


}
#left_inner{
height:400px;
border:1px solid #d3d3d3;
width:400px;
float:left;
background-image:url('../images/item_page/mobiles/moto-g3-1.jpg');
}
#right_inner{
margin-left:3px;
width:190px;
float:left;

}
#right{
float:left;
width:440px;
height:100%;
float:left;

margin-left:5px;
}

#left_bottom{

width:100%;
height:1500px;
background:#ffffff;


}
#left_slider{


height:240px;
width:1050px;
margin-left:10px;

overflow-y:hidden;
overflow-x:hidden;
white-space:nowrap;

}
#left_bottom_1{
border-top:5px solid #a0a0a0;
height:300px;
border-bottom:5px solid #a0a0a0;

}
#left_bottom_2{
height:1000px;
border-bottom:5px solid #a0a0a0;

}
#header{
font-size:20px;
}

#l_header{
width:100%;
color:#a0a0a0;
height:40px;
padding-top:10px;
border-bottom:5px solid #a0a0a0;
}

#mini_1{
float:left;
background-image:url('mobiles/samsung1-mini.jpg');
background-repeat:no-repeat;

}
#mini_2{
float:left;
background-image:url('mobiles/samsung2-mini.jpg');
background-repeat:no-repeat;

}
#mini_3{
float:left;
background-image:url('mobiles/samsung3-mini.jpg');
background-repeat:no-repeat;

}
#mini_4{
float:left;
background-image:url('mobiles/samsung4-mini.jpg');
background-repeat:no-repeat;

}

.ul_mini{
margin:0;
padding:0;
width:145px;
height:145px;


}
.ul_mini:hover{
border:1px solid #000000;

}
#bottom_head{
text-align:center;
margin-left:20px;
width:96%;
color:#808080;
height:30px;
padding-top:5px;
border-bottom:1px solid #a0a0a0;
font-size:20px;
text-shadow:1px 1px 1px #ffffff;
}
#bottom_data{
margin-left:20px;
width:96%;
color:#a0a0a0;
height:185px;

border-bottom:1px solid #a0a0a0;
background-color:#Ffffff;

}
#r_header{
width:100%;
color:#808080;
height:40px;
padding-top:10px;
border-bottom:1px solid #808080;
font-weight:bold;
}
#price{

background-color:#f4efff;
height:20%;
width:95%;
padding:5px;
}
#inner_1{
margin-top:40px;

}
#sell_info{
margin-top:20px;
height:20%;
width:95%;
padding:5px;
background-color:#f4efff;


}

#b_data{
width:100%;
color:#a0a0a0;


background-color:#Ffffff;


}
#b_data_left{
padding-left:20px;
padding-top:5px;
float:left;
width:30%;
border-right:1px solid #a0a0a0;
height:25px;
border-bottom:1px dotted #a0a0a0;
}
#b_data_right{
padding-left:20px;
padding-top:5px;
float:left;
width:65%;
border-bottom:1px dotted #a0a0a0;
height:25px;

}