#slider {

  position: relative;
    overflow: hidden;
}


#slider ul {

display:inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
   position: relative;
   overflow:hidden;
}

#slider ul li {
overflow:hidden;
display:inline-block;
color:#000000;
  margin-top: 5px;
  padding: 0;
  width: 1040px;
height:220px;
   position: relative;
   list-style: none;
    cursor: pointer;
}

.control_prev {

  position: absolute;
  top: 80px;
  z-index: 999;
  display: block;
  width: 40px;
  height: 80px;
  background: #ffffff;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  background-image:url('../images/item_page/arrows.png');
}
.control_next {
  position: absolute;
  top: 80px;
  z-index: 999;
  display: block;
  width: 40px;
  height: 80px;
  background: #ffffff;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  background-image:url('../images/item_page/arrows-r.png');
}



.control_prev:hover, .control_next:hover {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease;
 box-shadow:1px 1px 1px 1px #000;
}

.control_prev {
  border-radius: 0 2px 2px 0;
}

.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}


#min_1{
float:left;
background-image:url('mobiles/samsung1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;
}
#min_2{
float:left;
background-image:url('mobiles/samsung2-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;
}
#min_3{
float:left;
background-image:url('mobiles/samsung3-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;
}
#min_4{
float:left;
background-image:url('mobiles/samsung4-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#min_5{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#min_6{
float:left;
background-image:url('mobiles/mob4-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#min_7{
float:left;
background-image:url('mobiles/mob5-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#min_8{
float:left;
background-image:url('mobiles/mob6-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}

#tab{
position: absolute;
    bottom: 0;
    width: 100%;

}
.ul{
margin-left:10px;
padding:0;
width:160px;
height:210px;


}
.ul:hover{
border:1px solid #d0d0d0;

}