#l_2_img{
margin-left:5px;

width:640px;


}
#l_img_last{

height:150px;
float:left;
width:195px;

}
#l_img_up{
border:1px solid #0079BC;
height:150px;
width:250px;
}
#l_img_up:hover{
border:2px solid #0079BC;

}
#img_tag{
margin-top:5px;

font-size:14px;
text-align:center;

}
#l_img{

height:200px;
float:left;
margin-right:70px;
width:250px;
}
#l_ul{

font-family:arial;
font-size:18px;
height:30px;

margin-top:2px;
display:block;
border-bottom:1px solid #ffffff;
text-align:center;
overflow:hidden;
}
#li{

text-align:center;

margin-top:2px;
padding-left:10px;


}
#head_img{


margin-top:40px;
padding-left:10px;
height:40px;

}

#l_ul:hover{
border:2px solid #0079BC;
opacity:0.9;
background-color:#ffffff;



}
#l_ul:hover #li{

background-color:#ffffff;
}

#l_ul:hover a{

color:#0079BC;
}

#li a{
color:#303030;
text-decoration:none;
font-size:14px;
text-shadow:2px 2px 2px #ffffff;
font-weight:bold;

}