#slider {

  position: relative;
    overflow: hidden;
}


#slider ul {
display:inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
   position: relative;
   overflow:hidden;
}

#slider ul li {
overflow:hidden;
display:inline-block;
color:#000000;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 150px;
   position: relative;
   list-style: none;
    cursor: pointer;
    background:#000000;
	
}




#mini_1{
float:left;
/*background-image:url('mobiles/samsung1-mini.jpg');*/
background-repeat:no-repeat;

}


#tab{
position: absolute;
    bottom: 0;
    width: 100%;

}
.ul_mini{

padding:0;
width:199px;
height:150px;


}
.ul_mini:hover{
border:1px solid #d0d0d0;

}