*{ 
padding:0;
margin:0;
}
body{


}
a{
	text-decoration:none;
	color:#000000;
	
}
.error{
	
	color:#ff0000;
	font-size: 14px;
	
}
#content{
position:fixed;
background-image:url('../images/bg-1.jpg');
background-repeat:no-repeat;
height:800px;
width:100%;
top:0;
}
#u_para_l{


height:100%;
width:274px;
background:#001c37;
float:left;
background-image:url('../images/logo/left_logo.png');
}
#u_para_r{


height:100%;
width:274px;
background:#001c37;
float:left;
background-image:url('../images/logo/right_logo.png');
}
#u_para_center{

height:100%;
float:left;
width:800px;
}
#upper_data{
opacity:0.9;
position:absolute;
margin-top:40%; 
width:100%;
background:#d3d3d3;
height:150px;


}
#upper_data_1{
padding-top:10px;
position:absolute;
margin-top:23%; 
width:100%;

height:37%;


}

#para{
font-size:20px;
}
#bottom_data{

position:absolute;
margin-top:685px; 
width:100%;
background:#F4EFFF;
height:800px;
box-shadow:20px 0 20px rgba(0,0,0,0.8);


}
#bottom_data_top{

height:50%;
background:#F4EFFF;

}
#u_img{

height:80%;
width:17%;
margin:auto;
opacity:0.75;

}
@keyframes roty {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
#logo_img { animation: 3s roty infinite linear; }

#search{
position:fixed;
top:0;
background-color:#001c37;
height:90px;
width:100%;

display:block;

}
#up_header{
width:100%;
height:20px;
background:#0079BC;

}

#logo{

margin-top:10px;
float:left;	
margin-left:20px;
}

#logo_1{
border-radius:3px;
text-align:center;
width:50px;
height:40px;
float:left;	
margin-left:20px;
margin-top:10px;
padding-top:8px;
box-shadow:1px 1px 1px 1px #000;
}

#logo_1:hover{


box-shadow:1px 1px 3px 3px #a0a0a0;
opacity:0.9;
 cursor: pointer;

}

#search_item
{
width:350px;
padding-left:20px;
border:0;
font-size:18px;
    
    -webkit-border-top-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
height:37px;
margin-top:5px;
}
#search_icon{
margin-top:5px;
float:right;
-webkit-border-top-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
	height:37px;
	width:50px;
	background:#ffffff;
	background-image:url('../images/search-icon.png');

}
#search_box{
margin-top:10px;
margin-left:100px;
padding:0px 5px 0px 5px;
border-radius : 5px;
height:45px;
float: left; 
width: 400px;
 
}

#i_s{
width:250px;
 padding : 5px 20px 5px 20px;
background-color:#F2F2F2;
 color:#2E2EFE;
border:0;
font-size:20px;
border-radius : 7px;
}

#in_search{
margin:auto;
width:30px;
}

#s_button{
width:240px;

float:left;
margin-top:15px;
height:37px;
margin-left:250px;


}


#search_b
{
margin-left:10px;
font-weight:bold;
background-color: #0079BC;
border-radius:10px;
height:30px;
margin-top:5px;
width:100px;
border:1 px solid #ffffff;
color:#ffffFF;

}



a{

color:#808080;
}










#tag{

font-size:15px;
padding:15px 20px;
text-align:center;
background-color:#01A9DB;

}



#logo_login
{
z-index:1;
display:none;
position:absolute;
top:100px;	
 margin-left:1000px;
 height:400px;
 width:300px;
 background-color:#B2B3B7;
 border:2px solid #E0F8F1;
}
#logo_signup
{

z-index:1;
display:none;
position:absolute;
top:100px;	
 margin-left:1000px;
 height:600px;
 width:300px;
 background-color:#B2B3B7;
 border:2px solid #E0F8F1;
}
#signup{

text-align:center;
margin:50px auto;
height:500px;
width:200px;
 border:2px solid #E0F8F1;
background-color:#f8f8f8;
color:#a0a0a0;
overflow: :none;
}
#login{

text-align:center;
margin:50px auto;
height:300px;
width:200px;
 border:2px solid #E0F8F1;
background-color:#f8f8f8;
color:#a0a0a0;
overflow: :none;
}

#user_name{

padding-top:10px;
font-size:25px;
font-weight:bold;


}
#u_span{
font-size:14px;
color:#808080;
padding:3px;
}

#log_in{
text-align:center;
margin-top:10px;
height:35px;
border:1px solid #E0F8F1;
}
#input{

margin-top:50px;

}
#sign_input{

margin-top:10px;

}
#log_in_button{

margin-top:10px;
height:35px;
width:60px;

font-weight:bold;
background-color: #084B8A;
border-radius:3px;
width:80px;
border:1 px;
color:#ffffFF;
box-shadow: 1px 1px 3px #D3D3D3;

}

