*{ 
padding:0;
margin:0;
}
body{

background:#F4EFFF;

}

a{
	text-decoration:none;
	color:#000000;
	
}
#main{

margin-top:120px;
margin-left:150px;

height:4500px;

}
#left{

float:left;
width:840px;
height:1800px;


}
#l_1{
box-shadow:3px 3px 6px  #808080;

}
#l_offer{


height:432px;

background-image:url('../images/shoes_resize/main_home/shoe_8.jpg');



}
#l_offer_up{
position:relative;
text-align:center;
color:#ffffff;
height:300px;
width:100%;

}
#l_offer_bottom_top{
	position:absolute;
	bottom:0;
	width:100%;
	height:20px;
	
}
#l_offer_bottom_top_1{
	float:left;
	height:20px;
	width:33%;
	
}
#l_offer_bottom_top_1_center{
	
	margin:0 auto;
	height:20px;
	width:40px;
	
}
#l_offer_bottom{


height:130px;
margin-left:2px;

}
#l_offer_bottom_1{
float:left;
background:#231F23;
width:275px;
height:129px;
border:2px inset #808080;

transition: background 1s ease;
}
#l_offer_bottom_1:hover {

background:#ffffff;
}
#l_offer_bottom_2:hover {

background:#ffffff;
}
#l_offer_bottom_3:hover {
background:#ffffff;
}#l_offer_bottom_2{
float:left;
background:#231F23;
width:275px;
height:129px;
border:2px inset #808080;



}
#l_offer_bottom_3{
float:left;

width:275px;
height:129px;
background:#231F23;
border:2px inset #808080;

}


#l_2{

padding:10px;
margin-top:40px;
box-shadow:3px 3px 6px  #808080;
background:#ffffff;
height:620px;


}
#l_2_1{



}
#l_head{
font-family:arial;
font-size:18px;
height:120px;

margin-top:2px;
display:block;
border-bottom:1px solid #ffffff;
text-align:center;
overflow:hidden;

}
#l_2_left{
float:left;
background-color:#F4EFFF;
font-size:14px;
width:150px;
height:100%;
}
#l_2_right{
margin-left:40px;
float:left;

font-size:14px;

height:100%;
width:555px;
}

#para{
font-size:18px;
font-weight:bold;
color:#808080;

}

#right{
margin-left:40px;

height:3000px;

float:left;
padding:10px;
}
#r{
border:1px solid #0079BC;


width:210px;
height:120px;



}

#r:hover{
border:2px solid #0079BC;

}
#r_1{
border:1px solid #0079BC;
margin-top:40px;

width:210px;
height:175px;



}
#r_2{
border:1px solid #0079BC;
margin-top:40px;

width:210px;
height:135px;



}
#r_2:hover{
border:2px solid #0079BC;

}
#r_3{
border:1px solid #0079BC;
margin-top:40px;

width:210px;
height:310px;



}
#r_3:hover{
border:2px solid #0079BC;

}

#r_4{
border:1px solid #0079BC;
margin-top:40px;

width:210px;
height:175px;



}
#r_4:hover{
border:2px solid #0079BC;

}
#r_1:hover{
border:2px solid #0079BC;

}
