
#s_list{
margin-left:150px;
display:block;
width:900px;
}
#s_list li{
color:#808080;
display:inline;


width:160px;

text-align:center;
padding:4px 10px 10px;
border-right:1px dotted #808080 ;
font-size:16px;

}
#menu_list_1{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;

	display:none;
}
#menu_list_2{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;
	
	display:none;
}
#menu_list_5{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;
	
	display:none;
}
#menu_list_6{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;
	
	display:none;
}
#menu_list_3{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;

	display:none;
}
#menu_list_4{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;

	display:none;
}
#menu_list_7{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;

	display:none;
}
#menu_list_8{
	position:absolute;
	z-index: 1;
	width:700px;
	height:300px;
	background:#ffffff;
	margin-left:150px;

	display:none;
}
#s_list li:hover{
	
	background:#ffffff;
	
	
}
#s_ul{
list-style-type:none;
font-size:20px;


}
#search{
position:absolute;
top:0;
background-color:#001c37;
height:80px;
width:100%;

display:block;

}
#search_menu{
margin-top:65px;
position:relative;
border-top:1px solid #d3d3d3;
height:35px;
width:100%;
background:#F4EFFF;
border-bottom:1px solid #d3d3d3;
}
#logo{


float:left;	
margin-left:50px;
}



#search_box{
margin-top:10px;
margin-left:100px;
padding:0px 5px 0px 5px;
border-radius : 5px;
height:45px;
float: left; 
width: 400px;
 
}
#search_item
{
width:350px;
padding-left:20px;
border:0;
font-size:18px;
    
    -webkit-border-top-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
height:37px;
margin-top:5px;
}
#search_icon{
margin-top:5px;
float:right;
-webkit-border-top-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
	height:37px;
	width:50px;
	background:#ffffff;
	background-image:url('../images/search-icon.png');

}
#search_button
{
float:left;
font-weight:bold;
background-color: #0080FF;
border-radius:3px;
height:37px;
margin-top:5px;
width:80px;
border:0;
color:#ffffFF;
box-shadow: 1px 1px 3px #D3D3D3;
}

#in_search{
margin:auto;
width:30px;
}
