*{ 
padding:0;
margin:0;
}
body{
background-image:url('../images/mobiles/bg-image.jpg');
background-repeat:no-repeat;

}

a{
	text-decoration:none;
	color:#000000;
	
}
#main
{

margin-top:30px;
overflow:hidden;


}
#main_1
{
float:left;
display:none;
background-color:#a0a0a0;
margin-top:100px;
height:500px;
width:500px;
}
#main_2
{
background-image:url('../images/menu.png');
float:left;
margin-top:250px;
height:150px;
width:25px;
 cursor: pointer;
}
#side_main{
float:right;
background-image:url('../images/offer_logo.png');

margin-top:250px;
height:150px;
width:25px;
 cursor: pointer;

}
#side_main_1{

background-image:url('../images/mobiles/mob6.jpg');
margin-top:100px;
height:500px;
width:600px;
float:right;
box-shadow:0 10px 10px -6px #a0a0a0;
display:none;

}
#main_4
{
position:relative;
margin-top:250px;
height:300px;
width:1350px;
background-color:#ffffff;
border:1px solid #d3d3d3;
overflow-y:hidden;
overflow-x:hidden;
white-space:nowrap;

}
#main_3
{
float:left;
display:none;
margin-top:50px;
margin-left:500px;
background-image:url('../images/offers.png');
height:49px;
width:377px;
}
#bottom{
height:1500px;
margin-top:50px;
background-color:#ffffff;
width:100%;
display:inline-block;
}

#bottom_left{
float:left;
width:60%;
padding:10px;

}
#bottom_right{
float:right;
width:35%;
background-color:#f8f8f8;
height:400px;
}

#bottom_head{
margin-top:10px;
margin-left:30%;
height:50px;
width:300px;
background-image:url('../images/Bigbazaar.png');
border-bottom:1px solid #a0a0a0;
}
#head_1{
margin-top:10px;
margin-left:30%;
height:50px;
width:300px;
background-image:url('../images/reliance.png');
}
#head_2{
margin-top:10px;
margin-left:30%;
height:50px;
width:300px;
background-image:url('../images/dmart.png');
}
#bigb{


height:400px;
background-color:#ffffff;
height:400px;

}
#inner_bigb{

height:350px;
width:800px;;
background-color:#f8f8f8;

}
#inner_1{

width:405px;
float:left;
border-right:2px solid #a0a0a0;



}
#inner_3{

width:405px;
float:left;
border-right:2px solid #a0a0a0;



}
#inner_5{

width:405px;
float:left;
border-right:2px solid #a0a0a0;



}
#inner_2{

float:left;
width:390px;


}
#inner_4{

float:left;
width:390px;


}

#inner_6{

float:left;
width:390px;


}
