*{ 
padding:0;
margin:0;
}
body{



}
a{
	text-decoration:none;
	color:#000000;
	
}
#search{
position:fixed;
top:0;
background-color:#001c37;
height:90px;
width:100%;

display:block;

}
#up_header{
width:100%;
height:20px;
background:#d9292f;

}

#logo{

margin-top:10px;
float:left;	
margin-left:20px;
}

#logo_1{
border-radius:3px;
text-align:center;
width:50px;
height:40px;
float:left;	
margin-left:20px;
margin-top:10px;
padding-top:8px;
box-shadow:1px 1px 1px 1px #000;
}

#logo_1:hover{


box-shadow:1px 1px 3px 3px #a0a0a0;
opacity:0.9;
 cursor: pointer;

}

#search_item
{
margin-top:10px;
font-size:20px;
margin-left:30px;
border:0;
border-radius:3px;
height:37px;
margin-top:5px;
text-align:center;
}
#search_button
{
float:left;
font-weight:bold;
margin-top:10px;
border-radius:3px;
height:37px;
border:0;
font-size:30px;
}
#i_s{
width:250px;
 padding : 5px 20px 5px 20px;
background-color:#F2F2F2;
 color:#2E2EFE;
border:0;
font-size:20px;
border-radius : 7px;
}

#in_search{
margin:auto;
width:30px;
}



#main{
margin-left:120px;
height:1800px;
width:1220px;
margin-top:110px;
padding-top:20px;

}
#left{
float:left;
height:550px;
width:250px;
background:#F4EFFF;
margin:10px;



}

#l_ul{

font-family:arial;
font-size:18px;
height:30px;

margin-top:2px;

border-bottom:1px solid #ffffff;
text-align:center;

}
#l_tag{
height:120px;

margin-top:2px;
border-bottom:1px solid #ffffff;

}
#l_img{
margin:auto;
margin-top:60px;
height:60px;
width:60px;




}
#li{

text-align:center;

margin-top:2px;
padding-left:10px;


}
#l_ul:hover{
border:2px solid #0079BC;
opacity:0.9;
background-color:#ffffff;



}
#l_ul:hover #li{

background-color:#ffffff;
}

#l_ul:hover a{

color:#0079BC;
}

#li a{
color:#303030;
text-decoration:none;
font-size:14px;
text-shadow:2px 2px 2px #ffffff;
font-weight:bold;

}
#center{
float:left;
height:1600px;
width:680px;
background:#ffffff;
margin:10px;


}
#c_top{
padding-top:10px;
font-size:20px;

height:50px;
box-shadow:3px 2px 3px -1px #d3d3d3;
}
#c_content{
display:inline-block;
font-size:20px;
height:250px;
box-shadow:3px 2px 3px -1px #d3d3d3;
}

#c1_data{
float:left;
margin:10px;
margin-top:20px;
height:200px;
width:300px;
color:#000000;


}
#head{
cursor:pointer;
color:#0079BC;
text-decoration:underline;
}

#rating{
width:100%;
color:#FF8000;
font-size:14px;
}
#addr{
font-size:14px;


}

#c1_right{

margin-top:20px;
margin-left:3px;
width:140px;
float:left;
border-left:1px solid #d3d3d3;

height:220px;

}
#cl_ul{
text-align:center;
line-height:2;
list-style-type:none;
font-size:14px;
}

#cl_ul li a{
text-decoration:none;
color:#0079BC;


} 

#cl_ul li a:hover{
text-decoration:underline;
color:#FF8000;


} 
#s_data{



background-color:#FF8000;
height:40px;
border:0;
color:#ffffFF;
width:140px;
text-align:center;
font-size:20px;
border-radius:2px;

}
#s_data_1{
margin-top:10px;
background-color:#0079BC;
height:40px;
border:0;
color:#ffffFF;
width:140px;
text-align:center;
font-size:20px;
border-radius:2px;
cursor:pointer;



}
#s_data_2{

background-color:#3EB1E7;
margin-top:10px;
height:40px;
border:0;
color:#ffffFF;
width:140px;
text-align:center;
font-size:20px;
border-radius:2px;

}
#s_data:hover{

border:2px solid #FF8000;
opacity:0.9;
background-color:#ffffff;
color:#FF8000;

}
#s_data_1:hover{

border:2px solid #0079BC;
opacity:0.9;
background-color:#ffffff;
color:#0079BC;
}
#s_data_2:hover{

border:2px solid #3EB1E7;
opacity:0.9;
background-color:#ffffff;
color:#3EB1E7;
}

#c1_img{
float:left;
margin:10px;
margin-top:20px;
height:220px;
width:180px;
border:1px solid #d3d3d3;
cursor:pointer;
box-shadow:3px 2px 3px -1px #d3d3d3;

}

#right{
float:left;
height:1500px;
width:220px;
background:#ffffff;
margin:10px;



}

#menu_2{
border-radius:5px;
float:left;
height:250px;
width:250px;
background:#ffffff;
margin:10px;
margin-right:40px;
}


