#search{
position:fixed;
top:0;
background-color:#001c37;
height:90px;
width:100%;

display:block;

}
#search_icon{
margin-top:5px;
float:right;
-webkit-border-top-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
	height:37px;
	width:50px;
	background:#ffffff;
		background-image:url('../images/search-icon.png');


}
#up_header{
width:100%;
height:20px;
background:#0079BC;

}
#start_menu{
display:none;
opacity:0.9;
padding-top:50px;
text-align:center;
position:absolute;
z-index:1;
margin-top:80px;
margin-left:985px;
height:250px;
width:180px;
background-image:url('../images/start_menu.png');
}
#start_menu_account{
display:none;
opacity:0.9;
padding-top:50px;
text-align:center;
position:absolute;
z-index:1;
margin-top:80px;
margin-left:1180px;
height:250px;
width:180px;
background-image:url('../images/start_menu.png');
}
#start_menu_wallet{
display:none;
opacity:0.9;
padding-top:50px;
text-align:center;
position:absolute;
z-index:1;
margin-top:80px;
margin-left:1090px;
height:250px;
width:180px;
background-image:url('../images/start_menu.png');
}
#start_para{
padding-top:5px;
position:relative;
font-size:14px;
margin-left:5px;
height:24px;
width:94.5%;
border-bottom:1px solid #d3d3d3;
border-top:1px solid #ffffff;
cursor:pointer;
background-color:#ffffff;
color:#0079BC;

}
#start_para_top{
padding-top:5px;
position:relative;
font-size:14px;
margin-left:5px;
height:24px;
width:94.5%;
border-bottom:1px solid #d3d3d3;
border-top:1px solid #d3d3d3;
cursor:pointer;
background-color:#ffffff;
color:#0079BC;

}
#start_para_bottom_1{
padding-top:5px;
position:relative;
bottom:0;
margin:auto;
font-size:14px;

height:40px;
width:50%;

background-color:#ffffff;
color:#0079BC;
cursor:pointer;
}
#start_para_bottom_1:hover{
color:#ffffff;
background-color:#0079BC;
}
#start_para_bottom_2{
padding-top:5px;
position:relative;
bottom:0;
margin:auto;
font-size:14px;

height:40px;
width:50%;

background-color:#ffffff;
color:#0079BC;
cursor:pointer;
}
#start_para_bottom_2:hover{
color:#ffffff;
background-color:#0079BC;
}
#start_para_bottom_3{
padding-top:5px;
position:relative;
bottom:0;
margin:auto;
font-size:14px;

height:40px;
width:50%;

background-color:#ffffff;
color:#0079BC;
cursor:pointer;
}
#start_para_bottom_3:hover{
color:#ffffff;
background-color:#0079BC;


}
#start_para_top:hover{
color:#ffffff;
background-color:#0079BC;

}
#start_para:hover{
color:#ffffff;
background-color:#0079BC;
}
#logo{

margin-top:10px;
float:left;	
margin-left:20px;
}


#logo_1{
 cursor: pointer;


width:40px;
height:30px;
float:left;	
margin-left:14%;
margin-top:30px;
padding-top:8px;

}
#logo_2{

font-size:18px;
font-weight:bold;
 cursor: pointer;
color:#ffffff;

width:60px;
height:30px;
float:left;	
margin-left:50px;
margin-top:30px;
padding-top:8px;

}
#logo_3{

font-size:18px;
font-weight:bold;
 cursor: pointer;
color:#ffffff;

width:60px;
height:30px;
float:left;	
margin-left:50px;
margin-top:30px;
padding-top:8px;
}


#search_item
{
width:450px;
padding-left:20px;
border:0;
font-size:18px;
    
    -webkit-border-top-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
height:37px;
margin-top:5px;
}
#search_button
{
padding-left:50px;
width:500px;
float:left;
font-weight:bold;
margin-top:10px;
border-radius:3px;
height:37px;
border:0;
font-size:30px;
}
#i_s{
width:250px;
 padding : 5px 20px 5px 20px;
background-color:#F2F2F2;
 color:#2E2EFE;
border:0;
font-size:20px;
border-radius : 7px;
}

#in_search{
margin:auto;
width:30px;
}

#search_bottom{
position:absolute;
margin-top:70px;
width:100%;
height:30px;
background:#ffffff;	
	
	
	
}
#search_bottom_data{
	
margin-left:1030px;
height:100%;
padding:1px;
	
	
}
#search_bottom_data ul{
	
display:inline;
list-style-type:none;
overflow: hidden;	

font-size:17px;
}
#search_bottom_data ul li {
padding:3px 5px 8px 0px;	
color:#0079BC;	
display:inline;	
list-style-type:none;
width:100px;
margin-left:10px;
cursor:pointer;	
}

#search_bottom_data ul li:hover{
	
background-color:#0079BC;	
color:#ffffff;
	
}
