*{ 
padding:0;
margin:0;
}
body{
background:#F4EFFF;


}
a{
	text-decoration:none;
	color:#000000;
	
}
/*page main*/

#center_tab_head{

float:left;
height:40px;
width:55%;
background:#F4EFFF;
border-bottom:1px solid #d3d3d3;

}
#right_margin{

float:left;
height:40px;
width:10%;
background:#F4EFFF;
border-bottom:1px solid #d3d3d3;

}

#center_tab_data{

float:left;

width:35%;
margin-top:10px;
background:#ffffff;


}
#center_tab_data ul{
list-style-type:none;
display:inline;



}
#center_tab_data ul li{
color:#808080;
background:#F4EFFF;
padding:10px 13px 10px 12px;
display:inline;
border-right:1px solid #808080;
cursor:pointer;
}

#l_2_img{
padding:30px 0 0 30px;
height:250px;
width:90%;

overflow:auto;
}
#l_img_lst{
height:250px;
float:left;

width:150px;
}
#l_img_up{
border:1px solid #0079BC;
height:200px;
width:150px;
}
#l_img_up:hover{
border:2px solid #0079BC;

}
#img_tag{
margin-top:5px;

font-size:14px;
text-align:center;

}
#l_img{

height:250px;
float:left;
margin-right:100px;
width:150px;
}
#l_ul{

font-family:arial;
font-size:18px;
height:30px;

margin-top:2px;
display:block;
border-bottom:1px solid #ffffff;
text-align:center;
overflow:hidden;
}
#li{

text-align:center;

margin-top:2px;
padding-left:10px;


}

#c_data{
padding:10px 0 0 20px;


}


#main_content
{
margin-top:120px;
height:1200px;
width:100%;

}


#left_tab{
margin-top:60px;
float:left;
margin-left:40px;
padding:5px;
width:15%;
height:570px;
border:1px solid #d3d3d3;


}

#center_tab{
background:#ffffff;
overflow-x:hidden;
margin-left:40px;
width:75%;
float:left;

}








#main_data{

height:450px;
border:1px solid #d3d3d3;
background:#a0a0a0;

}



#check{
float:right;

}
#menu{
margin-left:60px;
font-weight:bold;
text-decoration:underline;
margin-bottom:20px;


}
#themenu
{
border-bottom:1px solid #d3d3d3;

}
#menu_check{
margin-top:20px;

}
#ch_menu{
overflow:auto;
height:160px;
}

