#slider {

  position: relative;
    overflow: hidden;
}


#slider ul {
display:inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
   position: relative;
   overflow:hidden;
}

#slider ul li {
overflow:hidden;
display:inline-block;
color:#000000;
  margin: 0;
  padding: 0;
  width: 1350px;
  height: 300px;
   position: relative;
   list-style: none;
    cursor: pointer;
}

.control_prev {
  position: absolute;
  top: 100px;
  z-index: 999;
  display: block;
  width: 40px;
  height: 80px;
  background: #ffffff;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  background-image:url('../images/mobiles/arrows.png');
}
.control_next {
  position: absolute;
  top: 100px;
  z-index: 999;
  display: block;
  width: 40px;
  height: 80px;
  background: #ffffff;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  background-image:url('../images/mobiles/arrows-r.png');
}



.control_prev:hover, .control_next:hover {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease;
 box-shadow:1px 1px 1px 1px #000;
}

.control_prev {
  border-radius: 0 2px 2px 0;
}

.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
#small{
width:6@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
}

#mini_1{
float:left;
background-image:url('mobiles/samsung1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;
}
#mini_2{
float:left;
background-image:url('mobiles/samsung2-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;
}
#mini_3{
float:left;
background-image:url('mobiles/samsung3-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;
}
#mini_4{
float:left;
background-image:url('mobiles/samsung4-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_5{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_6{
float:left;
background-image:url('mobiles/mob4-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_7{
float:left;
background-image:url('mobiles/mob5-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_8{
float:left;
background-image:url('mobiles/mob6-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_9{
float:left;
background-image:url('mobiles/mob7-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_10{
float:left;
background-image:url('mobiles/appliance1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_11{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_12{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_13{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_14{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_15{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_16{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_17{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_18{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_19{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_20{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_21{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}#mini_22{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_23{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#mini_24{
float:left;
background-image:url('mobiles/mob1-mini.jpg');
background-repeat:no-repeat;
text-align:bottom;

}
#tab{
position: absolute;
    bottom: 0;
    width: 100%;

}
.ul_mini{
margin-left:10px;
padding:0;
width:320px;
height:300px;


}
